/* PC、スマホ共通スタイル */
* {
  box-sizing: border-box;
}

p {
  font-size: 24px;
}
body {
  width: 1440px;
  margin: 0 auto 0 auto;
  font-family: "ABeeZee", sans-serif;
  font-weight: 400;
  font-style: normal;
}
#header1,.header2 {
  z-index: -1;
   display: flex;
   justify-content: space-between;
   background-color: #E8D1CF;
 }
 .aboreto-regular {
  font-family: "Aboreto", system-ui;
  font-weight: 400;
  font-style: normal;
}

.image-container {
    overflow: hidden; /* 拡大時に枠からはみ出さないようにする */
    display: inline-block;
    }
    .zoom-img {
    transition: transform 0.3s ease; /* 0.3秒かけてスムーズに変化 */
    cursor: zoom-in;
    }
    .zoom-img:hover {
    transform: scale(1.2); /* 1.5倍に拡大 */
    }
 
 /* ナビゲーションのレイアウト */ 
 
 #logo1{
  margin: 8px 0 8px 8px;
 }
.logo2{
  display: none;
}
 #nav-pc {
  margin: 40px 0px 40px 0;
  font-size: 24px;
 }
 
 #nav-pc ul {
   display: flex;
   margin-left: 230px;
 }
 
 #nav-pc li {
   list-style: none;
 }
 
 /* ナビゲーションのリンクの装飾設定 */
 #nav-pc a {
   text-decoration: none;
   margin-left: 98px;
   color: #595959;
 }
 
 #nav-pc a:hover {
   text-decoration: underline;
 }
 #nav-sp,
  #menu-sp,
  #logo2 {
    display: none;
  }
  /* メインビジュアル */
 #main-visual {
   position: relative;
   height: 950px;
 }
 #main-message {
   position: absolute;
   top: 270px;
   left: 150px;
   text-align: center;
   letter-spacing: 30px;
   line-height: 100px;
   color: #000000;
   z-index: 11;
 }
 #main-message > h2 {
   font-size: 64px;
 }
  #main-photo1{
   position: absolute;
   top: 0;
   right: 0;
 }
 /* プロフィール */
 #profile-1{
  height:1100px;
 }
 .home-h3{
  margin-top: 100px;
  text-align: center;
  font-size:60px;
  color:#595959;
 }
 .profile-flex-1{
  display:flex;
  position: relative;
 }
 .profile-flex-1>div{
  width:50%;
 }
 #profile-ph1{
  margin:-25px 90px 0 90px;
 }
 #profile-sc1{
  position: absolute;
  top:500px;
  left:-20px;
  z-index: -1;
 }  
 #profile-sp-sc1{
  display:none;
 }
 #profile-sc2{
  position:absolute;
  top:-180px;
  right:40px;
  z-index: -1;
 }
 #profile-sp-sc2{
  display: none;
 }
 #profile-p1{
  font-size: 32px;
  color: #000000;
  position: absolute;
  top:90px;
  right:480px;
 }
 #profile-p2{
  color: #595959;
  font-size: 24px;
  position:absolute;
  top:200px;
  right:240px;
  width:463px;
  line-height:50px;
  font-size: 24px;
 }
#pr-more{
  position:absolute;
  top:800px;
  right:180px;
}
/* ワーク */
#works-1{
  margin-left:180px;
  margin-right:180px;
  height:2200px;
  margin-bottom: 130px;
  border: solid 4px #7b0b0f;
  position: relative;
}
.works-flex1,.works-flex2{
  display: flex;
}
.works-flex1>div{
  width:50%;
}
.works-flex2>div{
  width:50%;
}
.works-buttom-l{
 display: none;
}
.works-p-l{
  font-size:32px;
  color: #595959;
  margin-top:190px;
  text-align: center;
}
.works-photo-l{
  margin-top:50px;
  margin-left:50px;
}
.works-buttom-r{
  display: none;
}
.works-p-r{
  font-size:32px;
  color: #595959;
  margin-top:240px;
  text-align: center;
}
.works-photo-r{
  margin-top:50px;
}
#wo-more{
 position: absolute;
 top:2080px;
 right:20px;
}
/* コンタクト */
#contact{
  height:640px;
  background-color: #E8D1CF;
  position: relative;
}
#toppage{
position: absolute;
top:-100px;
right:20px;
}
#footer-p{
  font-size: 28px;
  text-align: center;
  padding-top: 180px;
  color: #595959;
  margin-bottom: 0;
  font-weight: bold;
}
#con-h1{
  text-align: center;
  margin-top: 20px;
  font-size: 96px;
  color: #595959;
  letter-spacing: 19px;
  font-weight: bold;
} 
#sns-btns{
  display: flex;
}
#instagram{
position:absolute;
left:688px;
top:380px;
}
#footer-link a{
  font-size:24px;
  color: #7b0b0f;
  text-decoration: none;
}

#footer-link ul{
  display: flex;
}
#footer-link li{
  list-style: none;
  margin-top: 150px;
  margin-left: 100px;
}
#footer-link nav a:hover{
    text-decoration: underline;
  }
/* プロフィールサイト */
#profile-2{
  height:1600px;
  margin-left: 180px;
  margin-right:180px;
  position: relative;
}
#profile-main{
  margin:100px auto 0 auto;
}
.profile-flex-2{
  display: flex;
}
#profile-info-flex{
  display: flex;
  letter-spacing: 5px;
  line-height: 70px;
  margin-top:80px;
}
#pr-in-fl-right{
  margin-left:50px;
  width:300px;
}
#hobby{
  line-height: 50px;
}
#profile-info-flex p{
  color:#595959;
  font-size:24px;
}
#profile-sc3{
  position: absolute;
  top:570px;
  left:-160px;
  z-index: -1;
}
#profile-ph2{
  position: absolute;
  top:930px;
  left:45px;
}
#profile-ph3{
 position: absolute;
 top:280px;
}
#profile-ph4{
  z-index: -1;
  height:450px;
  position: relative;
  top:20px;
  left:350px;
}
#profile-sc4{
  z-index:-1;
  position: absolute;
  top:60px;
  right:-180px;
}
#profile-sc5{
  z-index:-1;
  position: absolute;
  top:1350px;
  right:-50px;
}
#profile-info2{
  position: absolute;
  top:1260px;
  width:537px;
  line-height: 60px;
  font-size:24px;
  color: #595959;
}
/* スキル */
#skill{
  margin:200px 180px 112px 180px;
  height:1380px;
  border: solid 4px #7b0b0f;
  padding:0 120px 0 120px;
}
.skill-flex{
  display: flex;
}
.skill-left{
  margin-left:0px;
  margin-bottom: 180px;
  z-index: 11;
}
.skill-right{
  margin-left:26px;
  margin-bottom: 180px;
  z-index: 11;
}
.skill-p{
  z-index: 12;
  color: #595959;
  font-size: 20px;
  width:300px;
  margin-left:50px;
  margin-top:-180px;
}
/* ワーク */
#works-2{
  margin:-50px 180px 0 180px;
  position: relative;
  height:2300px;
}
#works-p{
  font-size:128px;
  letter-spacing: 20px;
}
#works-ph1{
position: absolute;
top:-70px;
right:-150px;
z-index: -1;
}
#works-ph2{
position: absolute;
top:500px;
left:-180px;
z-index: -1;
}
#works-ph3{
position: absolute;
top:1100px;
right:-200px;
z-index: -1;
}
#works-ph4{
position: absolute;
top:1880px;
left:-100px;
z-index: -1;
}
#works-ph5{
position: absolute;
top:1880px;
right:-150px;
z-index: -1;
}
.works-title{
  font-size: 48px;
  color: #595959;
}
.works-title::before{
  content:url("image/line1.png");
  margin-right:10px;
}
.works-flex{
  display: flex;
  justify-content: space-between;
}
#works-info div{
  margin-bottom: 50px;
}
.works-info-p{
  font-size: 24px;
  color: #595959;
  text-align: center;
}
/* 画像幅が375px以下のとき */
@media screen and (max-width: 375px){
  /* PC用ナビゲーション非表示 */
  #nav-pc,#logo1{
    display:none;
  }
  body{
    width:375px;
  }
  #main-visual{
    z-index: -1;
    height:445px;
    position: relative;
    top:-60px;
  }
  .logo2{
    display:block;
    width:67px;
    position: absolute;
    top:10px;
    left:20px;
  }
  #logosize{
    height:80px;
  }
  #header1{
    background-color: transparent !important;
  }
  #menu-sp{
  display:block;
  background-color:transparent;
  margin-right: 20px;
  padding:0;
  border:none;
  }
  #nav-sp{
  background-color:#ffffff;
  position:fixed;
  left:0;
  top:0;
  height:100%;
  width:375px;
  z-index:100;
  }
  #close{
    position:absolute;
    top:20px;
    right:20px;
    background-color:transparent;
    border:none;
  }
  #nav-sp ul{
    padding-left: 10px;
    margin-top:60px;
  }
  #nav-sp nav li{
    list-style:none;
  }
  
  #nav-sp nav a:hover {
    text-decoration:underline;
  }
  .menu{
    display:block;
    color:#595959;
    font-size: 18px;
    text-decoration:none;
    padding:30px 0 30px 0;
    border-top: solid 1px #E8D1CF;
  }
  
  #main-photo1{
    display: none;
  }
  #main-photo2{
    display:block;
    position: relative;
  }
  #main-message {
   position: absolute;
   top: 130px;
   left: 30px;
   text-align: center;
   color: #000000;
   z-index: 11;
   letter-spacing: 7px;
   line-height: 30px;
 }
 #main-message > h2 {
   font-size: 18px;
 }
 /* プロフィール */
 #profile-1{
  margin-top:-50px;
  height:950px;
 }
 .home-h3{
  text-align: center;
  margin-top:30px;
  font-size:48px;
  color:#595959;
 }
 .profile-flex-1{
  display: flex;
  flex-direction: column;
  position: relative;
 }
#profile-ph1{
  margin:-25px 20px 0 20px;
  width:330px;
 }
 #profile-sc1{
  display: none;
 } 
 #profile-sp-sc1{
  z-index: -1;
  display: block;
  position: absolute;
  top:360px;
  right:0px;
 }
 #profile-sc2{
  display:none;
 }
 #profile-sp-sc2{
  z-index: -1;
  display: block;
  position: absolute;
  top:650px;
  left:0px;
 }
 #profile-p1{
  font-size: 18px;
  color: #000000;
  position: absolute;
  top:400px;
  left:40px;
  right: 0px;
 }
 #profile-p2{
  color: #595959;
  position:absolute;
  font-size: 16px;
  top:450px;
  left: 40px;
  right:0px;
  width:300px;
  line-height:30px;
 }
  #pr-more{
  width:150px;
  position:absolute;
  top:750px;
  right:0px;
  }
  /* ワーク */
  #works-1{
  margin-left:20px;
  width:335px;
  height:1550px;
  margin-bottom: 70px;
  border: solid 3px #7b0b0f;
  position: relative;
  }
  .works-flex1{
  display:flex;
  flex-direction: column;
  }
  .works-flex1>div{
    width:100%;
  }
  .works-flex2{
  display: flex;
  flex-direction: column-reverse;
  }
  .works-flex2>div{
    width:100%;
  }
  .works-buttom-l{
  display: none;
  }
  .works-p-l{
  font-size:18px;
  color: #595959;
  margin-top:0px;
  }
  .works-photo-l{
  margin:0 0 50px 11px;
  width:305px;
  }
  .works-buttom-r{
  display: none;
  }
  .works-p-r{
  font-size:18px;
  color: #595959;
  margin-top:0px;
  }
  .works-photo-r{
  margin:0 0 50px 11px;
  width:305px;
  }
  #wo-more{
 position: absolute;
 top:1480px;
 right:-10px;
 width:150px;
  }
  /* コンタクト */
  #contact{
  height:230px;
  background-color: #E8D1CF;
  position: relative;
  }
  #toppage{
  position: absolute;
  top:-40px;
  right:10px;
  width:80px;
  }
  #footer-p{
  font-size: 12px;
  text-align: center;
  padding-top: 60px;
  color: #595959;
  margin-bottom: 0;
  font-weight: normal;
  }
  #con-h1{
  text-align: center;
  font-size: 36px;
  color: #595959;
  letter-spacing: 10px;
  margin-top: 10px;
  }   
  #sns-btns{
  display: flex;
  }
  #instagram{
  position:absolute;
  left:168px;
  top:140px;
  }
  #instagramsize{
    width:30px;
  }
  #footer-link a{
  font-size:12px;
  color: #7b0b0f;
  text-decoration: none;
  }
  #footer-link ul{
  display: flex;
  padding-left: 0px;
  }
  #footer-link nav li{
  list-style: none;
  margin-left: 20px;
  margin-top: 50px;
  }
  #footer-link nav a:hover{
    text-decoration: underline;
  }
  /* プロフィールサイト */
  #profile-2{
  height:480px;
  margin-left:20px;
  margin-right:20px;
  position: relative;
  }
  #profile-main{
  width:335px;
  margin-top: 35px;
  }
  #profile-info-flex{
  letter-spacing: 2px;
  line-height: 40px;
  margin-top:20px;
  }
  #profile-info-flex p{
  color:#595959;
  font-size:10px;
  }
  #pr-in-fl-left{
    width:70px;
  }
  #native{
    line-height: 20px;
  }
  #pr-in-fl-right{
  width: 100px;
  margin-left: 1px;
  }
  #hobby{
    line-height: 20px;
  }
  #profile-sc3{
  width:90px;
  position: absolute;
  top:280px;
  left:-30px;
  }
  #profile-ph2{
  z-index: 12;
  position: absolute;
  top:380px;
  width:140px;
  height: 240px;
  object-fit: cover;
  object-position: center;
  left:10px;
  }
  #profile-ph3{
  z-index: 12;
  width:160px;
  height:300px;
  object-fit: cover;
  object-position: center;
  position: absolute;
  top:110px;
  right:5px;
  }
  #profile-ph4{
  width:80px;
  height: 120px;
  z-index: 10;
  position: absolute;
  top:340px;
  left:120px;
}
  #profile-sc4{
  width:170px;
  position: absolute;
  top:-50px;
  right:-40px;
  }
  #profile-sc5{
  width:150px;
  position: absolute;
  top:530px;
  right:-30px;
  }
  #profile-info2{
  z-index: 11;
  position: absolute;
  top:460px;
  right:5px;
  width:170px;
  line-height: 20px;
  font-size:10px;
  color: #595959;
  }
  /* スキル */
#skill{
  margin:200px 20px 70px 20px;
  width:335px;
  height:1780px;
  border: solid 3px #7b0b0f;
  padding:0 15px 0 15px;
}
.skill-flex{
  display: flex;
  flex-direction: column;
}
.skill-left{
  margin-bottom: 120px;
}
.skill-right{
  margin-left:0px;
  margin-bottom: 120px;
}
.skill-p{
  font-size: 14px;
  width:230px;
  margin-left:40px;
  margin-top:-140px;
}
.skill-ph{
  width: 301px;
}
/* ワーク */
#works-2{
  margin:0px 20px 0 20px;
  position: relative;
  height:2100px;
}
#works-p{
  font-size:37px;
  letter-spacing: 10px;
}
#works-ph1{
  width: 200px;
  position: absolute;
  top:-10px;
  right:-30px;
}
#works-ph2{
  width:200px;
  position: absolute;
  top:500px;
  left:-70px;
}
#works-ph3{
  width: 200px;
  position: absolute;
  top:900px;
  right:-70px;
}
#works-ph4{
  width: 100px;
  position: absolute;
  top:1580px;
  left:-40px;
}
#works-ph5{
  width: 300px;
  position: absolute;
  top:1900px;
  right:-50px;
}
.works-title{
  font-size: 24px;
  color: #595959;
}
.works-title::before{
  content:url("image/line2.png");
  margin-right:10px;
}
.works-flex{
  display: flex;
  flex-direction: column;
}
.works-info-left{
  margin-left:auto;
  margin-right: auto;
}
.works-info-right{
  margin-left:auto;
  margin-right: auto;
}
#works-info div{
  margin-bottom: -10px;
}
.works-ph{
  width:280px;
}
.works-info-p{
  font-size: 18px;
  color: #595959;
  text-align: center;
  margin-bottom: 50px;
}
}
